<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Folder View</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.14.1/lib/theme-chalk/index.css">
  <style>
    #app {
      margin: auto 25vw;
      min-width: 200px;
    }

    .btnCenterWrapper {
      display: flex;
      justify-content: center;
    }

    object {
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="btnCenterWrapper" v-if="!treeVisible">
      <el-button type="primary" icon="el-icon-folder-opened" :loading="btnLoading" @click="btnClickHandler">
        打开文件夹
      </el-button>
    </div>
    <el-tree v-if="treeVisible" lazy :props="treeProps" :load="treeLoadHandler" @current-change="treeSelectHandler"></el-tree>
    <el-drawer size="50%" :withHeader="false" :show-close="false" :destroy-on-close="true" :visible.sync="drawerVisible" @closed="drawerClosedHandler">
      <object :data="objectURL" :type="objectType"></object>
    </el-drawer>
  </div>
  <script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui@2.14.1/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        btnLoading: false,
        treeVisible: false,
        drawerVisible: false,
        treeProps: {
          label: 'name',
          isLeaf: 'isLeaf'
        },
        objectURL: '',
        objectType: '',
        rootHandle: null
      },
      methods: {
        async btnClickHandler() {
          this.btnLoading = true;
          this.rootHandle = await window.showDirectoryPicker();
          this.treeVisible = true;
        },
        async treeLoadHandler(node, resolve) {
          if (node.level === 0) {
            return resolve([{
              name: this.rootHandle.name,
              isLeaf: this.rootHandle.kind === 'file',
              handle: this.rootHandle
            }]);
          }

          if (node.level > 0) {
            const children = [];
            for await (const handle of node.data.handle.values()) {
              children.push({
                name: handle.name,
                isLeaf: handle.kind === 'file',
                handle
              });
            }
            return resolve(children);
          }
        },
        async treeSelectHandler(data) {
          const { isLeaf, handle } = data;
          if (!isLeaf) return;
          const file = await handle.getFile();
          const { type } = file;
          this.objectURL = URL.createObjectURL(file);
          this.objectType = type;
          this.drawerVisible = true;
        },
        drawerClosedHandler() {
          URL.revokeObjectURL(this.objectURL);
          this.objectURL = '';
          this.objectType = '';
        }
      }
    });
  </script>
</body>

</html>